<html>
<head><title>Test js</title>
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/chat_client.js"></script>
</head><body>
<div id="mess"></div><br/>

From: testengma1@gmail.com<br/>
To: testengma2@gmail.com<br/>
<input type="button" value="Send random string" onclick="send_rand_mess();"/>
<hr/>
Create new database name: <input type="text" id="txt_new_db"/><br/>
<input type="button" value="Create new DB" onclick="create_new_db();"/>


</body>
</html>