<!DOCTYPE html>
<html lang="en">
<head>
		<title>Connect stock real time</title>

		<!-- Required Meta Tags Always Come First -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="author" content=""/>

		<script src="js/jquery.min.js"></script>
		<script src="js/jsxcompressor.min.js"></script>
		<script src="js/socket.io.js"></script>
		<script src="js/connect.js"></script>

</head>
<body>
	99064991@FLC|6.68|5.82|6.25|6.3|20549|6.36|946300|ATC|6733|6.37|1000|6.36|3416|6.36||ATC|12373|6.35|1001|6.36|127|6.47|6.28|6.38|966849|985|27882241|6545#HAG|7.07|6.15|6.61|6.15|171524|6.15|2053126|ATC|48|7.07|3|7.06|1|6.15||ATC|115914|6.15|915|6.16|2839|6.34|6.15|6.17|2224650|13546|33504926|#PXS|7.7|6.7|7.2|7.4|3|7.13|14666|7.13|7|7.11|400|7.1|2397|7.13||7.13|154|7.15|719|7.17|648|7.4|7.1|7.18|14669||2211684|#STK|17.3|15.1|16.2|||15.5|1927|ATC|3|15.55|5|15.5|69|16.25||16.2|2|16.25|300|16.3|300|16.4|15.5|15.84|1927||2300076|496<br/>===<br/>
H4sIAAAAAAAACz1W0W5cOwj8mPO+MhgwfrttKiXV7a2iJor6Mf74OwMnkVbrWRtjG4Zh9x6aO+Y/397eT/ojzrKHnRz8qJ+1H3kydRGtI2MQxJEb+Zk62iqix2kc99EpdCIm5QxzUnsxm65nOjzIiDmWHsm8vn+84LfAKhe2b4PznUf3krPj6FgjAB5at8DMnGc7jMSsfnJ2HZXkNtHkiOU17x1wtx4OixkLT5GpeEeoqKUfN93X06+nM+PheJU8MDkNp+E9hcSPOU9FHJQDzDRGIT6wTeQeFSHr7bkJsKJ6r5ULfOUxRGMi7ssTN9p5Pb0/n4lFrYMR6OkIiEiuJMSdzKbxgvUjbO6Cx2eUxWLORnwa816OaDLQZckojIn9iOjcmb1cp+DLJt7oE5HFQzQd93lDfOlg4sPd/e1MLPboyLAbBufwCv00VQEFao3xF0ZDcQKB87VJOI+uWatW22oDJseGM53wMHPg+nCSY1zP33ih0fF88CSpjcgxD0f2hLEYhcknjHyh8sYVqbpL2Yl+oeGF5lk9haNV/IY8A+lhFul8gWGKS4HWa8wIpMYQ6Ov5vx9MHM5KJm4wF/gOfINvQKynMdJu7KuslJStddJm4J69LEowWYUcMTFqhuE2/fJf1ii9QS6dc718fzq2cF+TB9mCqxgTaMuQ2yLtcKSNP6ISSXBYjfeyxKclQlWzizkqwBOFCMRZ2G7lnQAbNl1H6kkaTZc99zgx9Hp5fQZXeQzrN/iIYA5NNiJaMjLAnyRGuRluADSPC+O0sSfX8raEnPSOXeZUBttEuKVb0nHcfiBHDGysvVGhTjKgzHMJnhC2x/Xy/vPIolMnl5jswwGJcmtQMoUFHiwNwd09elV6NUhnApYSZikynwu1AbbaPimGK8ZEpj6ej5NS9lh4ANN/MCA+hlIi2JAMzC+IoRCU7taKCITMiyYTPAeCQmdNIQI+Ry+WUyBpn0bOTvENWbj+BVHuUtR63iySsQTZFIIQMbdhM+z+EQvuCfGi4VXnUSo4Ps27uqrM9i4DyJCg0uKubqTDSifKSy3btmB5cqf4MGczCffr9eUPFhE/6hKZY4w5CCqkOFuN2yi2swtk8x79jIDcnm3mo0exWsGJzI6xyzjeY/mQ9sxt8BqL9AVzxHnzc73++nuSnFvck7w5vvgi5CWpXOYCt1lyBnlIap3j3KT6Ld1txeAUWLEI+BaWSwk9KqzW4HnyCzqBsKC0dVOd0CL3ho4YxOR6/ft+cAuowEMhJw+8/XCYcIPDgLrnAUjrBk+XNoFxjV7TULo2ZBEUWrenh0W7Q+uMhKJeb09/bj1v6SUR6dkz74QmaJFy88LHrGkECm4q284go8G09T0g/VM++RMx1s2gwHvjiyhNTjjIAJlZoaOINTYe68Ovt7efFL11SsjZ7lpYDEErsYQRGwJ/YCf7j7U8sy4I0WLAzDaWngPSbIgbyZKGuEXibg0npQoQNegjScSFxjzZvXJjN+oJVXe9/34/+sC/GQQPNH04xUZ5xQSLlUoQNYI5SK0yq7p6hn9uMM66Vm31LeWEfzlqgmZKmSl3SJG54jXXx49u4RU+MqnKz6pk2PUHLAlrafa6yrp7OE/plLPFdi9fPUWHIt3XrRSA9Jf+O8DW5pBdtAcUGyTq+vj9VjpY5xbbWnepUBw3ewCZ8dWu6y/MykbHP9d6abMaqUOQ3smRD1A+ohp6+eW+dks9QreGNJosUkjs+nj9fmIz5sFSrC9JkD5Y5QutTAqjnLcSgEfaiA1mtV0VTaFN0Qz+9TQocVBVwKd7MRibCLJ4jWWh/If1P3q5pD5+CwAA
<br/>===

</body></html>
