<!DOCTYPE html>
<html lang="en">
<head>
		<title>Connect stock real time</title>

		<!-- Required Meta Tags Always Come First -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="author" content=""/>

		<script src="js/jquery.min.js"></script>
		<script src="js/jsxcompressor.min.js"></script>
		<script src="js/socket.io.js"></script>
		<script src="js/connect.js"></script>

</head>
<body>
	"CTD|168.9|146.9|157.9|159|575|154.3|11298|154.1|218|154|681|153.6|1|154.3|1|154.3|30|154.7|57|154.9|166|161.3|154|157.72|11873|1308|479054|936"
	1
	:
	"FPT|64.9|56.5|60.7|61.5|1951|61.4|105297|61.4|253|61.3|2742|61.2|1078|61.4|50|61.5|4043|61.6|7503|61.7|6226|61.7|61|61.35|107248|35000|1|35000"
	2
	:
	"GIL|49.85|43.35|46.6|46.6|27|47.8|2861|47.6|200|47.5|232|47.1|101|47.8|149|47.8|1|48|227|48.2|21|48.5|46.6|47.94|2888|100|584197|"
	3
	:
	"HDB|49.1|42.7|45.9|46|2326|45.8|116155|45.75|860|45.7|329|45.65|23|45.8|300|45.8|2633|45.85|2550|45.9|2539|46.1|45.5|45.86|118481|21732|4213381|2220"
	4
	:
	"KDC|40.95|35.65|38.3|38|91|38.2|12054|38.1|188|38|695|37.9|1010|38.2|16|38.2|309|38.4|1917|38.5|3422|38.5|37.7|38.32|12145|1100|7531661|5246"
	5
	:
	"MBB|37.1|32.3|34.7|34.7|2000|35.65|294309|35.6|50|35.5|2399|35.45|1486|35.65|273|35.65|757|35.7|5910|35.75|520|35.65|34.7|35.12|296309|10|1|"
	6
	:
	"NVT|5.46|4.76|5.11|5.11|1108|5.4|12594|5.4|159|5.3|115|5.28|200|5.4|60|5.45|14|5.46|2976|||5.46|5.11|5.42|13702||4776204|438"
	7
	:
	"PC1|35.2|30.6|32.9|32.9|5|32.1|8886|32.05|151|32|1542|31.9|70|32.1|2|32.1|539|32.5|289|32.6|1340|32.9|32|32.23|8891|2150|1277390|"
	8
	:
	"SCR|14.1|12.3|13.2|13.4|5884|13.6|716423|13.6|7733|13.55|30413|13.5|32145|13.6|1000|13.65|36031|13.7|30942|13.75|9687|13.65|13.35|13.53|722307|650|11201042|505"
	9
	:
	"SSI|41.7|36.3|39|39.5|3047|40.75|443720|40.75|4828|40.7|10576|40.65|3250|40.75|50|40.8|6030|40.85|9935|40.9|14018|40.8|39.3|40.2|446767|58080|23407633|82517"
	10
	:
	"TCH|22.1|19.3|20.7|20.7|15754|21.15|56288|20.75|1|20.7|589|20.65|209|21.15|421|21.15|355|21.2|571|21.25|1|21.15|20.6|20.92|72042||16279574|"
	11
	:
	"TSC|2.39|2.09|2.24|2.25|450|2.25|14289|2.24|1478|2.23|2335|2.22|5501|2.25|3|2.25|497|2.26|2409|2.27|4875|2.26|2.22|2.25|14739||7180236|"
	12
	:
	"VNM|217.2|188.8|203|202.5|1742|199.6|83417|199.6|192|199.5|1824|199.4|1545|199.6|100|199.8|1005|199.9|624|200|3558|202.9|198.5|199.88|85159|22516|58843834|33086"
	13
	:
	"VPB|69|60|64.5|64.5|1846|67|583610|66.9|2224|66.8|5893|66.7|1830|67|200|67|10827|67.1|13761|67.2|10430|67|64.3|66.14|585456||1|"
</body></html>
