<!DOCTYPE html>
<html lang="en">
<head>
		<title>Connect stock real time</title>

		<!-- Required Meta Tags Always Come First -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="author" content=""/>

		<script src="js/jquery.min.js"></script>
		<script src="js/jsxcompressor.min.js"></script>
		<script src="js/socket.io.js"></script>
		<script src="js/connect.js"></script>

</head>
<body>

2
</body></html>
